@page "/edit{Id}"

@model Application.Personal.DTO.AddPersonViewModel

@{
    ViewData["Title"] = "ثبت اشخاص";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <h1>ثبت نام اشخاص</h1>
    <form asp-controller="person" asp-action="edit" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <label asp-for="Firstname">نام:</label>
        <span asp-validation-for="Firstname" class="text-danger"></span>
        <input type="text" id="first"
               asp-for="Firstname"
               placeholder="نام" required>

        <label asp-for="Lastname">نام خانوادگی:</label>
        <span asp-validation-for="Lastname" class="text-danger"></span>
        <input type="text" id="last"
               asp-for="Lastname"
               placeholder="نام خانوادگی" required>

        <label asp-for="Email">ایمیل:</label>
        <span asp-validation-for="Email" class="text-danger"></span>
        <input type="text" id="email"
               asp-for="Email"
               placeholder="Enter your email" required>

        <label asp-for="DateOfBirth">تاریخ تولد:</label>
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        <input type="date"
               id="dob" name="dob"
               placeholder="تاریخ تولد">


        <label asp-for="PhoneNumber">شماره تلفن:</label>
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        <input type="text" id="mobile"
               asp-for="PhoneNumber"
               placeholder="شماره تلفن" required>

        <div class="form-group">
            <a onclick="addNewPerson()" class="btn btn-primary btn-login">ثبت </a>
        </div>
    </form>
</div>





@section Scripts {

    <link href="~/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/Sweetalert2/sweetalert2.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script>
        function addNewPerson() {
            var Firstname = $("#first").val();
            var Lastname = $("#last").val();
            var Email = $("#email").val();
            // var DateOfBirth = $("#DateOfBirth").val();
            var PhoneNumber = $("#mobile").val();


            var postData = {
                'Firstname': Firstname,
                'Lastname': Lastname,
                'Email': Email,
                'PhoneNumber': PhoneNumber

            };

            $.ajax({
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                type: "POST",
                url: "person/edit",
                data: postData,
                success: function (data) {
                    if (data.isSuccess == true) {
                        Swal.fire({
                            text: data.message,
                            icon: 'success',
                            title: 'انجام شد'
                        }).then(function (isConfirm) {
                            window.location.replace("/Person/Index");
                        });
                    }
                    else {
                        for (let i = 0; i < data.message.length; i++) {
                            swal.fire(
                                'هشدار!',
                                data.message[i],
                                'warning'
                            );
                        }

                    }
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }

            });
        }
    </script>
}